body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

pre {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}
